/* Reset */
* {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Typography.css */
body {
  font-family: Arial, sans-serif; /* Use Arial font */
  font-size: 16px; /* Default font size */
  line-height: 1.6; /* Default line height */
}

ul {
  list-style: none; /* Remove default list bullets */
  padding: 0;
  margin: 0;
}

ul li {
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

ul a:hover {
  background-color: #bdbbbbb2; /* Light grey background on hover */
  border-radius: 5px;
}

.nav-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

ul li i {
  margin-right: 10px; /* Space between icon and text */
  color: black; /* Blue icon color */
}

/* Header.css */
.header {
  display: flex;
  justify-content: center; /* Centre l'icône horizontalement */
  align-items: center; /* Centre l'icône verticalement */
  padding-top: 20px; /* Espace entre l'en-tête et le haut de la page */
}

.header i {
  font-size: 4em; /* Ajustez la taille de l'icône selon vos préférences */
}

.active {
  background-color: #bdbbbbb2; /* Blue background */
}

.sidebar {
  background-color: #c4d3dd52; /* Change this to your desired color */
}

.nav-item {
  position: relative;
}

.nav-item:not(.active) a i {
  color: #ccc; /* Change this to your desired color */
}

.nav-item.active-sub-menu .sub-menu {
  display: block;
}

.sub-menu {
  display: none;
  position: relative;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}

.sub-menu a {
  color: #333; /* Dark grey text color */
}

.sub-menu li:hover {
  background-color: #bdbbbbb2; /* Blue background */
}

.has-submenu {
  position: relative;
}

.has-submenu::after {
  content: "\25BC"; /* Unicode character for down arrow */
  color: black;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease; /* Ajoutez cette ligne pour ajouter une transition à la flèche */
}

.has-submenu.active-sub-menu::after {
  transform: translateY(-50%) rotate(180deg); /* Ajoutez cette ligne pour faire pivoter la flèche vers le haut */
}
